.menu {
  width: 250px;
  height: 100vh;
  position: fixed;
  background-color: rgba(47,67,94,255);
  z-index: 100;
}

.menu ul {
  width: 200px;
  margin: 150px auto 0;
}

.menu li {
  list-style: none;
  margin-bottom: 5px;
}

.menu li:last-child {
  margin-bottom: 0;
}

.welcome {
  color: #fff;
  position: absolute;
  top: 60px;
  left: 50px;
  font-size: 12px;
  text-transform: capitalize;
}

.menu li {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}

.menu li a {
  text-align: left;
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  padding: 0 30px;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
}
.menu li:hover {
  background-color: rgba(47,67,94);
  color: #ffffff;
}
.menu li a:hover {
  color: black;
}
.logout {
  transform: translateY(130px);
  width: 200px;
  margin: auto;
}
.logout li:hover {
  background-color: #ee3a43;
}

img{
  width: 25px;
  height: 25px;
}